/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/


/.clj-kondo/.cache/
/.lsp/


/lib
/.env
/.calva/output-window/
/.shadow-cljs
/node_modules
/log
/.VSCodeCounter
render.scad

#Only exclude these if needed with different environments
#dev-config.edn
#test-config.edn


#If adding to this list, you need to remove tracked files from git and then readd them 
# with the two terminal cmds below (periods are important)
#     git rm -rf --cached .
#     git add .